<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/homepage/homepage.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .center-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 40vh;
    }
  </style>
</head>

<body>
   <div>
     <div class="dropdown">
       <button class="dropbtn">Other</button>
       <div class="dropdown-content">
         <a href="/logout">Logout</a>
       </div>
     </div>
   </div>
   <div class="">
    <div class="dropdown">
        <button class="dropbtn">Add user</button>
        <div class="dropdown-content">
        <a href="/instagram/login">Add Instagram</a>
        <a href="/snapchat/login">Add Snap</a>
        <a href="/tiktok/login">Add TikTok</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Your users</button>
        <div class="dropdown-content">
          {% for user in users %}
            <a href="/homepage/{{user.phised_user}}/{{user.platform}}">{{user.phised_user}} ~ {{user.platform}}</a>
          {% endfor %}
        </div>
      </div>
      <h1>Instalytics</h1>
      {% if platform == 'instagram' %}
      <img src="{{pfp_url}}" alt="avi" style="width: 200px;">
      {% elif platform == 'tiktok' %}
      <img src="{{profile.pfp_url}}" alt="avi" style="width: 100px;">
      {%else%}
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="avi" style="width: 200px;"></im>

      {% endif %}
      {% if platform == 'instagram' %}
      <h3>Verified analytics from Instagram</h3>
      {% elif platform=='snapchat' %}
      <h3>Verified analytics from Snapchat</h3>
      {%elif platform == 'tiktok'%}
      <h3>Verified analytics from TikTok</h3>
      {% endif %}
      <div class="center-screen container">
      <h3>User logged in : {{curr}} | {{username}}</h3>
      {%if shared == 'true' %}
      <h2>Your details have been shared with your company code :   {{company}}</h2>
      {% endif %}
      {% if platform == 'instagram' %}
        <h4>Bio : {{bio}}</h4>
      {% elif platform == 'tiktok' %}
        <h3>Nickname : {{profile.nickname}}</h3>
        <h4>Bio : {{profile.desc}}</h4>
      {% endif %}
      
      {% if platform == 'instagram' %}  
      <div class="table">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Followers</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Following</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Posts</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Engagement</a></div>

        </div>
        <div class="table-content">	
          <div class="table-row">		
            <div class="table-data">{{followers}}</div>
            <div class="table-data">{{following}}</div>
            <div class="table-data">{{posts}}</div>
            <div class="table-data">{{engagement}}%</dib>

          </div>
    
        </div>	
      </div>
      {% elif platform == 'tiktok' %}
      <div class="table">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Followers</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Following</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Heart</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">DiggCount</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">VideoCount</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">HeartCount</a></div>

        </div>
        <div class="table-content">	
          <div class="table-row">		
            <div class="table-data">{{profile.followerCount}}</div>
            <div class="table-data">{{profile.followingCount}}</div>
            <div class="table-data">{{profile.heart}}</div>
            <div class="table-data">{{profile.diggCount}}</div>
            <div class="table-data">{{profile.videoCount}}</div>
            <div class="table-data">{{profile.heartCount}}</div>
          </div>
    
        </div>	
      </div> 
      {% elif platform == 'snapchat' %}
      <h3>{{profile.username}}</h3>
      <h3>{{profile.exists}}</h3>
      {% endif %}

    </div>

</div>

</body>